<% content_for(:title, t(".title")) %>

<div class="bg-base py-6 px-4 sm:px-6 lg:px-8 mb-24">
  <div class="bg-white max-w-6xl mx-auto shadow-xl rounded-2xl overflow-hidden">
    <div class="bg-white p-6 sm:p-10">
      <!-- ヘッダー -->
      <div class="text-center mb-12">
        <h1 class="text-3xl sm:text-4xl font-extrabold text-gray-900">プライバシーポリシー</h1>
        <p class="text-base sm:text-lg text-gray-600 mt-4 max-w-2xl mx-auto leading-relaxed">
          FragranceLog（以下、「当社」といいます。）は、本ウェブサイトが提供するアプリ（以下、「本アプリ」といいます。）における個人情報の取り扱いについて、以下の通りプライバシーポリシーを定めます。
        </p>
      </div>

      <div class="space-y-12 divide-y divide-gray-200 text-gray-800 text-sm sm:text-base leading-relaxed">
        <section class="pt-0">
          <h2 class="text-lg sm:text-xl font-semibold mb-4 border-l-4 border-primary pl-4">お客様から取得する情報</h2>
          <p class="leading-relaxed">当社は、本アプリを通じて、ユーザーから以下の情報を取得します。</p>
          <ul class="list-disc list-inside mt-4 space-y-1">
            <li>氏名（ニックネームネームやペンネームも含む）</li>
            <li>メールアドレス</li>
            <li>写真や動画</li>
            <li>外部サービスでお客様が利用するID、その他外部サービスのプライバシー設定によりお客様が連携先に開示を認めた情報</li>
            <li>Cookie(クッキー)を用いて生成された識別情報</li>
            <li>OSが生成するID、端末の種類、端末識別子等のお客様が利用するOSや端末に関する情報</li>
            <li>当社ウェブサイトの滞在時間、入力履歴、購買履歴等の当社ウェブサイトにおけるお客様の行動履歴</li>
            <li>当社アプリの起動時間、入力履歴、購買履歴等の当社アプリの利用履歴</li>
            <li>お客様が当社サービス内で作成したコンテンツ</li>
          </ul>
        </section>

        <section class="pt-10">
          <h2 class="text-lg sm:text-xl font-semibold mb-4 border-l-4 border-primary pl-4">お客様から取得する情報の利用目的</h2>
          <p class="leading-relaxed">当社は、お客様から取得した情報を、以下の目的のために利用します。</p>
          <ul class="list-disc list-inside mt-4 space-y-1">
            <li>当社サービスに関する登録の受付、お客様の本人確認、認証のため</li>
            <li>お客様の当社サービスの利用履歴を管理するため</li>
            <li>当社サービスにおけるお客様の行動履歴を分析し、当社サービスの維持改善に役立てるため</li>
            <li>当社サービスに関するご案内をするため</li>
            <li>お客様からのお問い合わせに対応するため</li>
            <li>当社の規約や法令に違反する行為を防止するため</li>
            <li>当社サービスの変更、提供停止、終了、契約解除をご連絡するため</li>
            <li>当社規約の変更等を通知するため</li>
            <li>以上の他、当社サービスの提供、維持、保護及び改善のため</li>
          </ul>
        </section>

        <section class="pt-10">
          <h2 class="text-lg sm:text-xl font-semibold mb-4 border-l-4 border-primary pl-4">安全管理のために講じた措置</h2>
          <p class="leading-relaxed">当社が、お客様から取得した情報に関して安全管理のために講じた措置につきましては、末尾記載のお問い合わせ先にご連絡をいただきましたら、法令の定めに従い個別にご回答させていただきます。</p>
        </section>

        <section class="pt-10">
          <h2 class="text-lg sm:text-xl font-semibold mb-4 border-l-4 border-primary pl-4">第三者提供</h2>
          <p class="leading-relaxed">当社は、お客様から取得する情報のうち、個人データ（個人情報保護法第16条第3項）に該当するものついては、あらかじめお客様の同意を得ずに、第三者（日本国外にある者を含みます。）に提供しません。但し、次の場合は除きます。</p>
          <ul class="list-disc list-inside mt-4 space-y-1">
            <li>個人データの取扱いを外部に委託する場合</li>
            <li>当社や当社サービスが買収された場合</li>
            <li>事業パートナーと共同利用する場合（具体的な共同利用がある場合は、その内容別途公表します。）</li>
            <li>その他、法律によって合法的に第三者提供が許されている場合</li>
          </ul>
        </section>

        <section class="pt-10">
          <h2 class="text-lg sm:text-xl font-semibold mb-4 border-l-4 border-primary pl-4">アクセス解析ツール</h2>
          <p class="leading-relaxed">当社は、お客様のアクセス解析のために、「Googleアナリティクス」を利用しています。Googleアナリティクスは、トラフィックデータの収集のためにCookieを使用します。トラフィックデータは匿名で収集されており、個人を特定するものではありません。Cookieを無効にすれば、これらの情報の収集を拒否することができます。詳しくはお使いのブラウザの設定をご確認ください。</p>
          <p class="leading-relaxed">Googleアナリティクスについて詳しくは、<a href="https://marketingplatform.google.com/about/analytics/terms/jp/" class="text-blue-500 underline" target="_blank" rel="noopener noreferrer">こちら</a>をご覧ください。</p>
        </section>

        <section class="pt-10">
          <h2 class="text-lg sm:text-xl font-semibold mb-4 border-l-4 border-primary pl-4">プライバシーポリシーの変更</h2>
          <p class="leading-relaxed">当社は、必要に応じて本プライバシーポリシーを変更することがあります。その場合、変更後の施行時期および内容を、当社ウェブサイト等を通じて適切に通知または公表します。</p>
        </section>

        <section class="pt-10">
          <h2 class="text-lg sm:text-xl font-semibold mb-4 border-l-4 border-primary pl-4">お問い合わせ</h2>
          <p class="leading-relaxed">お客様の情報の開示、情報の訂正、利用停止、削除をご希望の場合は、お問い合わせフォームからご連絡ください。</p>
        </section>
      </div>

      <!-- 制定日 -->
      <div class="flex justify-end mt-12">
        <p class="text-xs sm:text-sm text-gray-500">2025年8月13日 制定</p>
      </div>

      <div class="related-links mt-4 text-sm">
        <h3>【関連ページ】</h3>
        <ul>
          <li><%= link_to "利用規約", terms_of_service_path, class: "link link-hover" %></li>
          <li><%= link_to "お問い合わせ", "#", class: "link link-hover" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>