<footer class="footer p-4 bg-base-300 text-base-content ">
  <nav class="flex gap-4">
    <%= link_to "利用規約", terms_of_service_path, class: "link link-hover" %>
    <%= link_to "プライバシーポリシー", privacy_policy_path, class: "link link-hover" %>
    <%= link_to "お問い合わせ", "https://docs.google.com/forms/d/e/1FAIpQLSfIxqJ-RczDz23_qfu-mTD9LXLVNYUmUxdanyS0B4mFrnuu-A/viewform?usp=header", target: "_blank", rel: "noopener noreferrer", class: "link link-hover" %>
  </nav>
</footer>