<header class="navbar bg-base-300 px-4 shadow-sm">
    <div class="flex-1">
      <a class="text-2xl font-bold">FragranceLog</a>
    </div>
    <div class="flex-none space-x-2">
      <% if user_signed_in? %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-outline" %>
      <% else %>
        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary" %>
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary" %>
      <% end %>
    </div>
  </header>