<ul class="menu md:flex flex-col w-48 p-4 bg-base-200 text-base-content">
  <li>
    <%= link_to fragrances_path, class:"mb-2 p-4 rounded" do %>
      <i class="fa-solid fa-spray-can-sparkles"></i>
      <span>マイ香水</span>
    <% end %>
  </li>
  <li>
    <%= link_to calendars_path, class:"mb-2 p-4 rounded" do %>
      <i class="fa-solid fa-calendar"></i>
      <span>カレンダー</span>
    <% end %>
  </li>
  <li>
    <%= link_to '#', class:"mb-2 p-4 rounded" do %>
      <i class="fa-solid fa-magnifying-glass-plus"></i>
      <span>香り診断</span>
    <% end %>
  </li>
  <li>
    <%= link_to '#', class:"mb-2 p-4 rounded" do %>
      <i class="fa-solid fa-comments"></i>
      <span>レビュー</span>
    <% end %>
  </li>
</ul>