<ul class="menu md:flex flex-col w-48 p-4 bg-base-200 text-base-content">
  <li><%= link_to "マイ香水", '#', class: "mb-2 link link-hover" %></li>
  <li><%= link_to "カレンダー", '#', class: "mb-2 link link-hover" %></li>
  <li><%= link_to "香り診断", '#', class: "mb-2 link link-hover" %></li>
  <li><%= link_to "レビュー", '#', class: "link link-hover" %></li>
</ul>