<% content_for(:title, t('.title')) %>
<h2><%= t('.title') %></h2>

<%= render "form", calendar: @calendar %>

<%= link_to t('defaults.back'), calendars_path, class: "text-blue-500 underline mt-4 inline-block" %>