@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "lemonade";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(97% 0.008 101.277);
  --color-base-200: oklch(93% 0.008 101.277);
  --color-base-300: oklch(94% 0.05 101.54);
  --color-base-content: oklch(26% 0.05 172.552);
  --color-primary: oklch(55% 0.118 165.612);
  --color-primary-content: oklch(98% 0.02 120.757);
  --color-secondary: oklch(77.75% 0.17 111.09);
  --color-secondary-content: oklch(15.55% 0.039 111.09);
  --color-accent: oklch(85.39% 0.15 100.73);
  --color-accent-content: oklch(17.078% 0.04 100.73);
  --color-neutral: oklch(45% 0.05 168.94);
  --color-neutral-content: oklch(90.196% 0.015 108.6);
  --color-info: oklch(86.19% 0.047 224.14);
  --color-info-content: oklch(17.238% 0.009 224.14);
  --color-success: oklch(86.19% 0.047 157.85);
  --color-success-content: oklch(17.238% 0.009 157.85);
  --color-warning: oklch(86.19% 0.047 102.15);
  --color-warning-content: oklch(17.238% 0.009 102.15);
  --color-error: oklch(86.19% 0.047 25.85);
  --color-error-content: oklch(17.238% 0.009 25.85);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

.simple-calendar {
  table {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(221, 221, 221);
    border-collapse: collapse;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
  }

  tr {
    border-collapse: collapse;
  }

  th {
    padding: 6px;
    border-bottom: 2px solid rgb(221, 221, 221);
    border-collapse: collapse;
    border-left: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
    border-top: 0px none rgb(51, 51, 51);
    box-sizing: border-box;
    text-align: left;
  }

  td {
    padding: 6px;
    vertical-align: top;
    width: 14%;

    border: 1px solid #ddd;
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(221, 221, 221);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-left-width: 1px;
  }

  .day {
    height: 80px;
  }

  .today {
    background: #ffffc0;
  }

  .prev-month {
    background: #ddd;
  }

  .next-month {
    background: #ddd;
  }
}

.datetime_select {
  .year,
  .month,
  .day,
  .hour,
  .minute {
    display: inline-block;
    width: auto;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}

.fs10 {
  font-size: 10px;
}
