<p><%= @resource.name %>様</p>

<p>パスワード再設定のご依頼を受け付けました。</p>

<p>こちらのリンクからパスワードの変更を行ってください。</p>

<p><%= link_to "パスワード再設定", edit_password_url(@resource, reset_password_token: @token) %></p>

<p>※リンクの有効期限は送信後6時間です。有効期限を過ぎた場合は、再度お手続きをお願いいたします。</p>